# Node modules
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Volumes Docker
/mongo-data

# Environnement
.env
.env.local
.env.development
.env.test
.env.production

#log files
*.log
logs/

# Sauvegardes MongoDB
SERVER/backups/
backups/